<ion-header>

  <ion-navbar>
    <ion-title>Fibonacci</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Numero</ion-label>
    <ion-input type="number" #numero ></ion-input>
  </ion-item>

  <button ion-button color="secondary" (click)="generarFibonacci(numero.value)">Fibonacci</button>
  <button ion-button color="secondary" (click)="generarFactorial(numero.value)">Factorial</button>
  
  <ion-grid>
    <ion-row>
      <ion-col>Numero</ion-col>
      <ion-col>Resultado</ion-col>
      <ion-col>tipo</ion-col>
    </ion-row>
    <ion-row *ngFor="let e of resultados">
      <ion-col>{{e?.numero}}</ion-col>
      <ion-col>{{e.resultado}}</ion-col>
      <ion-col>{{e.tipo}}</ion-col>
    </ion-row>
  </ion-grid>
  
  <button *ngIf="resultados.length > 0" ion-button color="danger" (click)="borrarResultados()">Borrar resultados</button>

</ion-content>
